
/* CSS styles can be embedded here */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F5F7;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
  }
  
.weather-app {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.weather-header {
    text-align: center;
    margin-bottom: 20px;
}

.weather-header h1 {
    font-size: 24px;
    color: #333;
}

.weather-content {
    text-align: center;
}

.weather-search input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.weather-search button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.weather-display {
    border-top: solid rgb(218, 216, 216) 0.05px;
    /* display: flex;
    flex-direction: column; */
    margin-top: 20px;
    padding-left: 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.weather-display h2 {
    font-size: 20px;
    color: #333;
}

.weather-display p {
    font-size: 16px;
    color: #555;
}

.weather-properties {
    /* display: flex;
    justify-content: space-around; */
    background-color: rgb(243, 241, 241);
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

#weather-icon {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    display: block;
}

.hidden {
    display: none;
}

.start-display {
    width: 100%;
    /* background-color: rgb(168, 168, 168); */
    height: 520px;
}

.front-image {
    width: 100%; /* Set the image width to 100% of its container's width */
  height: auto;
}

.fa {
    padding: 0 20px; /* 0 for top and bottom, 20px for left and right */
}